deno/supabase/.env.local
deno/supabase/README.md.local
deno/supabase/prod-ca-2021.crt
deno/alphavantage/.env.local
deno/mongodb/.env.local
deno/banking/csvCategorize.exe
deno/roi/roi.exe
deno/expense/expense.exe
deno/jira/deno_run_local.sh
deno/jira/*.local
deno/jira/*.json
.DS_Store